<br/>

<div class="grid grid-cols-9 gap-3 place-content-around text-center">
    <div class="inline-block">
        <a>Explorer</a>
    </div>

    <div class="inline-block">
        <a>Nature</a>
    </div>
    <div class="inline-block">
        <a>Design</a>
    </div>
    <div class="inline-block">
        <a>Photo</a>
    </div>

    <div class="inline-block">
        <a>Contactez-nous</a>
    </div>


    <div class="inline-block">
        <button>Se connecter</button>
    </div>
    <div class="inline-block">
        <a>Se déconnecter</a>
    </div>
    <div class="inline-block">
        <button>Créer un compte</button>
    </div>
    <div class="inline-block">
        <a>Mon compte</a>
    </div>
</div>

<br/>


