{% extends 'base.html.twig' %}
{% block title %}Notre concept{% endblock %}
{% block body %}
    <section class="bg-white dark:bg-main-black w-full md:w-11/12 lg:w-10/12 xl:w-9/12 mx-auto mt-12 ">
        <!-- component -->
        <div class="w-full my-20 rounded-3xl px-6 bg-blue2 dark:bg-main-black shadow-lg">
            <div class="mt-2 h-28 border-black border-2">
                <div class="w-full h-10 inset-0 bg-white">

                </div>
                {#  #}
                <div class="w-full h-4/5 bg-pink mb-4">
                </div>
            </div>
            <div class="mt-2 h-28 border-black border-2">
            </div>
            <div class="mt-2 h-28 border-black border-2 ">
            </div>
            {#  #}
            <div class="sm:px-4 py-16  sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded-3xl shadow-sm lg:flex-row sm:mx-auto">
                    <div class="relative lg:w-1/2">
                        <img
                                width="50"
                                height="50"
                                src="{{ asset('assets/media/contact.webp') }}"
                                alt="mobile app"
                                class="object-cover w-full lg:absolute h-80 lg:h-full"
                        />
                        <svg class="absolute top-0 right-0 hidden h-full text-black lg:inline-block" viewBox="0 0 20 104" fill="#f0edee">
                            <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104" />
                        </svg>
                    </div>
                    <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2">
                        <h5 class="mb-3 text-3xl text-blue1 font-extrabold leading-none sm:text-4xl">
                            Besoin d'aide !
                        </h5>
                        <p class="mb-8 text-main-black">
                            Nos équipes se feront un plaisir de répondre à vos questions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}