{% extends 'base.html.twig' %}

{% block title %}Mes Publications !{% endblock %}

{% block body %}

    <section class="w-full">
        <div class="w-full h-1/5 bg-blue1 shadow-lg py-16">
            <h1 class="text-center font-bold text-5xl text-white">Vos publications</h1>
            <div class="mx-auto h-px w-40 bg-white mt-8"></div>
        </div>

        <div class="flex">

            <div class="w-3/12 min-h-screen bg-blue2 border-blue1 border-r">
                <div class="w-full">
                    {% include "partials/siderbar.html.twig" %}
                </div>
            </div>

            <div class="w-9/12 mx-10">
                {% if app.user.publications|length == 0 %}
                    <div class="mt-10">
                        <h2 class="text-lg text-center md:text-xl xl:text-2xl text-main-blue">Il est temps de créer votre première publication sur notre plateforme</h2>
                        <p class="text-center md:text-lg xl:text-xl mt-5 text-main-black">
                            Il semblerait que vous n'ayez encore créé aucune ressource.<br/>
                        </p>
                    </div>
                {% else %}
                    <h3 class="text-center md:text-lg xl:text-xl mt-5 text-main-black">Liste de vos publications</h3>
                    <hr class="my-3 md:my-5 w-1/4 mx-auto border-blue1"/>
                    <table class="w-full shadow-lg">
                        <thead>
                        <tr class="font-extrabold tracking-wide text-left uppercase border-b bg-blue1 text-black dark:text-white">
                            <th class="px-4 py-3 text-white">ID de la publication</th>
                            <th class="px-4 py-3 text-white">Titre</th>
                            <th class="px-4 py-3 text-white">Nombre d'interaction</th>
                            <th class="px-4 py-3 text-white">Validée</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-700 bg-gray-800">
                        {% for publication in app.user.publications %}
                            <tr class="bg-blue2 text-black">
                                <td class="px-4 py-3">
                                    <a target="_blank" rel="noreferrer noopener" href="#">
                                        {{ publication.id }}
                                    </a>
                                </td>
                                <td class="px-4 py-3">
                                    {{ publication.title }}
                                </td>
                                <td class="px-4 py-3 text-black">
                                    {{ publication.likeNumber}} J'aime(s)
                                </td>
                                <td class="px-4 py-3 text-black">
                                    {% if publication.stateValidated  %}
                                        <a  class="ml-8" href="#"><i class="text-black fas fa-check mr-1"></i></a>
                                    {% else %}
                                        <a class="ml-8" href="#"><i class="text-black fas fa-times mr-1"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

        </div>

    </section>
{% endblock %}