<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
        <script src="https://kit.fontawesome.com/4e44dc3df4.js" crossorigin="anonymous"></script>
        <title>{% block title %}Ressources Relationnelles{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-main-white">
        <header class="sticky top-0 z-50">
            {% include 'partials/header.html.twig' %}
            {% include 'partials/navbar.html.twig' %}
        </header>
        <main class="min-h-screen">
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'partials/footer.html.twig' %}
        </footer>
    </body>
</html>
